# it s needed to ignore Lombok generated code by Jacoco during creating reports
# Gloabl configuration for slf4j so that we can use @Slf4j annotation on the class and use LOGGER
lombok.log.fieldName = LOGGER

#To skip the sonar analysis for the lombok generated code
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
